{% load static %}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>

<!--Latest version JQuery-->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!--Bootstrap js-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--easing js-->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!--mixitup js-->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!--Owl Carousel js-->
<script src="{% static 'js/owl.carousel.js' %}"></script>

<!--Validator js-->
<script src="{% static 'js/validator.js' %}"></script>

<!--Contact js-->
<script src="{% static 'js/contact.js' %}"></script>


<!--Bootstrap js-->
<script src="{% static 'js/wow.min.js' %}"></script>

<!--Theme js-->
<script src="{% static 'js/main.js' %}"></script>